<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="LinqStatistics" version="2.2.0" targetFramework="net461" />
  <package id="morelinq" version="2.10.0" targetFramework="net461" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2100" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable2100" targetFramework="net461" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>